/* To quickly navigate this stylesheet, search for section using all uppercase letter */

/* BODY */


/* HEADER */
.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    height: 80px;
}

#logo {
    margin-left: 20px;
}

.header-banner h1 {
    font-size: 32px;
    font-family: sans-serif;
}

nav {
    display: inline-flex;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

/* MAIN */
main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-pic {
    width: 300px;
    height: 300px;
}

.biowrapper {
    text-align: center;
}
#bio {
    display: flex;
    justify-content: space-around;
}

/*FOOTER*/
footer {

}